<% provide :title, t("help") %>
<h1><%= t("help") %></h1>
<p>
  <%= t "intro_help" %>
  <%= link_to t(".rails_help"), "https://www.railstutorial.org/help" %>
  <%= t "intro_help2" %>
  <em><%= link_to t(".rails_book"), "https://www.railstutorial.org/book" %><em>
</p>
