<div class="center jumbotron">
  <h1><%= t "welcome" %></h1>
  <h2>
    <%= t "intro_home" %>
    <%= link_to t("rails_tutorial"), "https://www.railstutorial.org/" %>
    <%= t "app_name" %>
  </h2>
  <%= link_to t("sign_up"), '#', class: "btn btn-lg btn-primary" %>
</div>
