<h1><%= t "reset_password" %></h1>
<p><%= t "users.password.click" %></p>
<%= link_to t("reset_password"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "users.password.expire" %></p>
<p><%= t "users.password.warning" %></p>
