<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.size.size_50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <%= t "users.micropost.post" %> <%= time_ago_in_words micropost.created_at %> <%= t "users.micropost.ago" %>.
    <% if current_user? micropost.user %>
      <%= link_to t("users.micropost.delete"), micropost, method: :delete,
      data: {confirm: t("confirm")} %>
    <% end %>
  </span>
</li>
