<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("app_name"), static_pages_home_path, id: "logo" %>
    <%= link_to t("english"), locale: :en %>
    <%= link_to t("vietnamese"), locale: :vi %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), static_pages_home_path %></li>
        <li><%= link_to t("help"), static_pages_help_path %></li>
        <li><%= link_to t("contact"), static_pages_contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
